

{% extends "layout.html" %}
{% block content %}



    <p>#365 Affirmations is a project to provide the world with uplifting and inspiring quotes.</p>
    <!-- this part of the code will only run if the country is specified in URL-->

  

    {% if author %}
      <p>Quotes by {{ author[0]['name'] }}:</p>
      {% for quote in author %}

        <blockquote>"{{ quote['words'] }}"</blockquote>
      {% endfor %}
    {% endif %}

    <!-- temp disable search field -->
    <!-- <p>Enter the name of the author  you want to lookup</p>
  <form action="/" method="GET">
    Enter the name of an author here: <input type="text" name="author_name">
    <input type="submit" value="Look up!!">
  </form> -->
  <h3>Authors in Our Collection</h3>

      <ul>
        {% for author in authors %}

           <li><a href="/?author_name={{author['author']}}">{{author['author']}}</a></li>
         {% endfor %}

      </ul>
    <p>{{ output }}
{% endblock %}
