
body {
	background-color: #C6A5B6;
	color:  #33151a;
font-family:  'Quicksand', /*'Avenir Next', Avenir, Lato, Nunito,*/ 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

nav.navbar.navbar-default.navbar-fixed-top a:link, nav.navbar.navbar-default.navbar-fixed-top a:visited {
    color: #c6a5b6;
}

.main {
   background-color: #C6A5B6;
background-image: url("https://c2.staticflickr.com/4/3853/14713283046_66f9b9c651_k.jpg");
background-size: cover;
height: 350px;
padding: 1.5em;
}

#heading {background-color:     rgba(255, 255, 255, 0.45);
padding: 20px;
margin: 0 auto;
}

/* quote section*/
blockquote {font-size: 1.5em; text-align: center;
margin: 0 auto;}

blockquote:before {
  color: #65ABA6;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #65ABA6;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

#quotebox{
background-color: #E7E7E7;

    color: #02312E;
    padding: 1.5em;
}

cite {    font-size: 1.25em; text-align: center;
margin: 0px auto; }
button, .button {
    margin-bottom: 1rem;
    background-color: #65ABA6;
    color: #F0F6F8;
    border-color: #65ABA6;

    margin: 1em;
}

.button:hover, button:hover {
    color: #DAF3F8;
    border-color:  #47B7AF;
    outline: 0;
    background-color: #47B7AF;

}
/* submit secion*/
h3 {padding-top: 2em;}

/* misc */



h1 {
	    padding-top: .5em !important;
			 font-size: 5em;
    text-align: center;
    color: #412145;
}

a {
	color: #fff;
}
