.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #f7eaea;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #3e3d56;
}

blockquote {
  font-size: 1.5em;
  text-align: center;
  margin: 0 auto;
}

blockquote:before {
  color: #bb8989;
  content: open-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote:after {
  color: #bb8989;
  content: close-quote;
  font-size: 2em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}

button {
  color: inherit;
  text-decoration: none;
  border-radius: 35px;
  background-color: #e9e5ef;
  padding: 15px 32px;
  border-color: #e2daef;
  text-transform: uppercase;
}

button:hover {
  color: #000;
  background-color: #fff;
  border-color: #e6e6e6;
}
